.modal-wrapper{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.modal{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.modal-backdrop{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: inherit 100;
	background-color:rgb(0,0,0,0.3);

}

.CardContent{
	display:flex;
	justify-content: flex-start;
	height: 105px;	
}
ul {
	list-style-type: none;
}

.favList{
	text-decoration:none;
	pointer-events: none;
	font-family: Montserrat;
    color: #102226;
}


.btnRemove{
	font-family: Montserrat;
	background: #EBEBEB;
	border-radius: 3px;
	cursor: pointer;
}

.popUpRoot{
	width: auto;
	height: auto;
	border-bottom: 1.5px solid rgba(21, 45, 51, 0.5);
	border-bottom-style:solid;
	margin-bottom: 10px;
}
.modal-box{
	position: relative;
	top:60%;
	left: 50%;
	transform:translate(-50%, -50%);
	min-height:50%;
	width:240px;
	overflow-y:auto;
	background-color: white;
	box-shadow:0 0 10px rgb(0,0,0,o.25);
	padding:10px;
}
.modal-box h1{
	margin: 0;
	font-size: 1.4em;
	line-height: 1em;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	color: #B4BBBC;
	text-decoration: underline;
	font-family: Montserrat;
}
.AvatarFav{
	background-color: balck; 
		
}
.favBtn{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 9px;
	line-height: 11px;
	color: #102226;
	width: 52px;
    height: 17px;
	background: #EBEBEB;
	border-radius: 3px;
	cursor: pointer;
}
.ava{
	border-right: 3px solid #EBEBEB;
	display: flex;
	width:100%;
	justify-content: flex-end;	
}

.heightLight{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 17px;
	color: #B4BBBC;
}
.dropDown{
	background: white;
	width: 40px;
	height: 20px;
	margin-top:15px;
	margin-right: -4px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}
.popUpbtn{
	background: white;
	width: 40px;
	height: 20px;
	margin-top:15px;
	margin-right: -4px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
	outline:none;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 0px;
}
.btnCss{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
	outline:none;
	margin-top:18px;
}
.AvatarFav{
	margin-right: 18px;
}
.buttomIcon{
	display: flex;
	justify-content: flex-end;

}


@media screen and (min-width:30em){
  .single-nav ul{
      display:flex;
      flex-wrap:wrap;
      justify-content:flex-end;
      list-style-type: none;
      background: #EBEBEB;
	  height: 40px;
	  margin-top:0px;
	  text-decoration: none;
	 
	  
  }
  .default{
	cursor: default; 
  }
  .def{
	cursor: default; 
	margin-top:-4px;
	
  }
  .def  button{
	background-color:rgba(53, 10, 109, 0.212);
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
	outline:none;
	cursor: pointer;

	
  }

  .single-nav li{  
	margin-right: 100px;
	margin-top:5px;
	cursor: default;
	
}
.single-nav li a, button {  
	color: #152D33;
	text-decoration: none;
	font-family: Montserrat;
	cursor: default;

	
	
		
}
}  
.likeBtn{
	position: absolute;
	top: 72%;
	left:180px;
	background-color: transparent;
	color: white;
	font-size: 16px;
	padding: 6px 12px;
	border: none;
	cursor: default;
	border-radius: 2px;
	text-align: center;
}
.likeBtn:hover {
	color: rgb(233, 10, 10);
}
/* second Nav */

.advanced-nav li a{
  display: flex;
  width:100%;
  justify-content: center;
  text-decoration: none;
 
}
.icon{
  flex:0 0 1.5em;
  font-size:1.8em;
} 
.button-text{
  font-size:1.8em;
}
.button-text span{
  display: block;
  font-size:40%;
  font-weight:lighter;
  font-style: italic;
}

.site{
	margin-top:-40px;
}

@media screen and (min-width: 30em){
  .advanced-nav ul{
      display: flex;
      flex-wrap:wrap;
	  justify-content: flex-end; 
	  background: #FFFFFF;  
      border-bottom-style:solid;	  
	  border: 2px solid #BEC2C3;	 
      
  }
  .advanced-nav li{
      display: flex;
      flex: 1 0 12em;
	  margin-bottom: 20px;
	  margin-top: 18px;
	 
  }
  .advanced-nav li a{
	font-family: Montserrat;
	color: #102226;
}

  .menu-section2{
  margin-top:-18px;
  }
}

.searchBox{
  margin-top: 10px;
 
}

.sBox{
  width:220px;
  background: #EBEBEB;
  border-radius: 33px;
}
::placeholder {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	color: #8A8E8F;
	font-size: smaller;


  }
.topBar{
  position: sticky;
  top: 0;
  z-index: 9999;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
	margin: 0;
}

body,

input,
select,
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.Sbtn{
	height:35px;
	background: #152D33;
    border-radius: 0px 14.5px 14.5px 0px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
    display: inline-block;
    font-family: "Courier 10 Pitch", Courier, monospace;
    color: #ddca7e;
    background: #282c34;
	padding: .5em .8em;
    border-radius: .2em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/


img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}


/* Header */

.masthead {
	padding: 0 1em;
	text-align: left;
	border-bottom: 1px solid hsl(0, 0%, 90%);
	color: #9DA3A4;
	font-family: Montserrat;

}


/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/

.cards {
	max-width: 25em;
	margin: 1em auto;
	padding: 0;
	list-style-type: none;

}

.cards a {
	display: block;
	margin-bottom: 1em;
	text-decoration: none;
	
}

.caption {
	padding: 1em;
	font-size: 90%;
	color: black;
	font-family: Montserrat;
	color: rgba(16, 34, 38, 0.5);
	
	
	border-bottom: 1px solid rgba(21, 45, 51, 0.5);
	border-bottom-style:solid;
}

.caption-title {
	margin: 0;
	font-size: 1.4em;
	line-height: 1em;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	color: #102226;
}

.caption p {
	margin-top: .5em;
	margin-bottom: 0;
}

.cards a:focus .caption,
.cards a:hover .caption {
	background: hsl(0, 0%, 97%);
}
.staffPick{
	display: grid;
	grid-gap:1em 0em;
}
.justForYou{
	background: #EBEBEB;
	margin-right: 0px;
}

.jfybox {
	margin-left:-120px;
}


/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {

	@media screen and (min-width: 27em) {

		.cards {
			margin: 0 auto;
			padding: 1em;
		}
		
		.card {
			margin: 1em 0;
			padding: .5em;
			display: grid;
			grid-template-columns: 8em auto;
			
		}

		.cards a:focus,
		.cards a:hover {
			outline: 1px solid hsl(0, 0%, 80%);
		}
	}

	@media screen and (min-width: 60em) {

		.cards {
			max-width: none;
			margin: 1em 0;
			display: grid;
			grid-template-columns: repeat(2, 25em);
			grid-gap:0em 8em;
			justify-content: center;
		}

		.card {
			margin: 0;
			justify-items: center;
			
		}
		.carddd{
			background: #FFFFFF;
            box-shadow: -1px -1px -1px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
		}
		.cardd{
			background: #FFFFFF;
            box-shadow: 0px -1px 12px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
		}

		.jfy{
			background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.1);
			border-radius: 19px;
			width: auto;
			
			
		}

		.double {
			grid-row: span 3;
			width:auto;
		}

		.double .card {
			display: block;
		}

		.semi{
		
		width:auto;
		
			
			
		}
		.semi .card {
			display: block;
			
		}
        .b{
			grid-template-columns: repeat(3, 1fr );
			margin-left:120px;
		}


		.single-na ul{
			display:flex;
			flex-wrap:wrap;
			justify-content:space-around;
			list-style-type: none;
			margin-top: -20px;
			
		}	
	
	}

}


